:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --default-border-color: lightgrey;
  --default-border-radius: 15px;
  --header-height: 70px;
  --default-color: green;
  --primary-color: #6200ea;
  --error-color: red;
}

body {
  background-color: #f3f3f3;
  color: var(--default-color);
}

/* Custom CSS Reset */
* {
  padding: 0;
}
